USE [LibraryManagement]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 2023-05-18 14:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ADMINID] [int] NOT NULL,
	[PASSWORD] [varchar](1024) NOT NULL,
	[FIRSTNAME] [text] NOT NULL,
	[LASTNAME] [text] NOT NULL,
	[EMAILADDRESS] [varchar](1024) NULL,
	[PHONENUMBER] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 2023-05-18 14:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[AUTHORID] [int] NOT NULL,
	[FIRSTNAME] [text] NOT NULL,
	[LASTNAME] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 2023-05-18 14:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[ISBN] [int] NOT NULL,
	[TITLE] [text] NOT NULL,
	[PUBLICATIONYEAR] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKCOPY]    Script Date: 2023-05-18 14:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKCOPY](
	[BOOKCOPYID] [int] NOT NULL,
	[ISBN] [int] NOT NULL,
	[AVAILABILITY] [bit] NOT NULL,
	[DAMAGED] [bit] NOT NULL,
	[EDITION] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BORROWING]    Script Date: 2023-05-18 14:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROWING](
	[USERID] [int] NOT NULL,
	[BOOKCOPYID] [int] NOT NULL,
	[BORROWINGID] [char](256) NOT NULL,
	[BORROWINGDATE] [datetime] NOT NULL,
	[RETURNDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_BORROWING] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[BOOKCOPYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 2023-05-18 14:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORYID] [int] NOT NULL,
	[NAME] [text] NOT NULL,
	[DESCRIPTION] [varchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IS_OF_KIND]    Script Date: 2023-05-18 14:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IS_OF_KIND](
	[ISBN] [int] NOT NULL,
	[CATEGORYID] [int] NOT NULL,
 CONSTRAINT [PK_IS_OF_KIND] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC,
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 2023-05-18 14:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USERID] [int] NOT NULL,
	[PASSWORD] [varchar](1024) NOT NULL,
	[FIRSTNAME] [text] NOT NULL,
	[LASTNAME] [text] NOT NULL,
	[EMAILADDRESS] [varchar](1024) NULL,
	[PHONENUMBER] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WRITTEN_BY]    Script Date: 2023-05-18 14:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WRITTEN_BY](
	[ISBN] [int] NOT NULL,
	[AUTHORID] [int] NOT NULL,
 CONSTRAINT [PK_WRITTEN_BY] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC,
	[AUTHORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADMIN] ([ADMINID], [PASSWORD], [FIRSTNAME], [LASTNAME], [EMAILADDRESS], [PHONENUMBER]) VALUES (1, N'password', N'John', N'Doe', N'johndoe@example.com', 1234567890)
INSERT [dbo].[ADMIN] ([ADMINID], [PASSWORD], [FIRSTNAME], [LASTNAME], [EMAILADDRESS], [PHONENUMBER]) VALUES (2, N'admin123', N'Emily', N'Johnson', N'emilyjohnson@example.com', 9876543210)
INSERT [dbo].[ADMIN] ([ADMINID], [PASSWORD], [FIRSTNAME], [LASTNAME], [EMAILADDRESS], [PHONENUMBER]) VALUES (3, N'securepass', N'Michael', N'Williams', N'michaelwilliams@example.com', 4567890123)
GO
INSERT [dbo].[AUTHOR] ([AUTHORID], [FIRSTNAME], [LASTNAME]) VALUES (1, N'Jane', N'Smith')
INSERT [dbo].[AUTHOR] ([AUTHORID], [FIRSTNAME], [LASTNAME]) VALUES (2, N'David', N'Anderson')
INSERT [dbo].[AUTHOR] ([AUTHORID], [FIRSTNAME], [LASTNAME]) VALUES (3, N'Olivia', N'Davis')
GO
INSERT [dbo].[BOOK] ([ISBN], [TITLE], [PUBLICATIONYEAR]) VALUES (123456789, N'Holes', CAST(N'1960-07-11T00:00:00.000' AS DateTime))
INSERT [dbo].[BOOK] ([ISBN], [TITLE], [PUBLICATIONYEAR]) VALUES (987654321, N'The Great Gatsby', CAST(N'2020-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[BOOK] ([ISBN], [TITLE], [PUBLICATIONYEAR]) VALUES (876543210, N'The Horse', CAST(N'1813-01-28T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[BOOKCOPY] ([BOOKCOPYID], [ISBN], [AVAILABILITY], [DAMAGED], [EDITION]) VALUES (1, 123456789, 1, 0, 2019)
INSERT [dbo].[BOOKCOPY] ([BOOKCOPYID], [ISBN], [AVAILABILITY], [DAMAGED], [EDITION]) VALUES (2, 987654321, 1, 0, 2021)
INSERT [dbo].[BOOKCOPY] ([BOOKCOPYID], [ISBN], [AVAILABILITY], [DAMAGED], [EDITION]) VALUES (3, 876543210, 0, 0, 2004)
GO
INSERT [dbo].[CATEGORY] ([CATEGORYID], [NAME], [DESCRIPTION]) VALUES (1, N'Electronics', N'Products related to electronic devices and gadgets')
INSERT [dbo].[CATEGORY] ([CATEGORYID], [NAME], [DESCRIPTION]) VALUES (2, N'Clothing', N'Various types of clothing items')
INSERT [dbo].[CATEGORY] ([CATEGORYID], [NAME], [DESCRIPTION]) VALUES (3, N'Home Appliances', N'Appliances for household purposes')
GO
INSERT [dbo].[USER] ([USERID], [PASSWORD], [FIRSTNAME], [LASTNAME], [EMAILADDRESS], [PHONENUMBER]) VALUES (1, N'password1', N'John', N'Doe', N'johndoe@example.com', 1234567890)
INSERT [dbo].[USER] ([USERID], [PASSWORD], [FIRSTNAME], [LASTNAME], [EMAILADDRESS], [PHONENUMBER]) VALUES (2, N'password2', N'Jane', N'Smith', N'janesmith@example.com', 2345678901)
INSERT [dbo].[USER] ([USERID], [PASSWORD], [FIRSTNAME], [LASTNAME], [EMAILADDRESS], [PHONENUMBER]) VALUES (3, N'password3', N'Michael', N'Johnson', N'michaeljohnson@example.com', 3456789012)
GO
/****** Object:  Index [PK_ADMIN]    Script Date: 2023-05-18 14:58:08 ******/
ALTER TABLE [dbo].[ADMIN] ADD  CONSTRAINT [PK_ADMIN] PRIMARY KEY NONCLUSTERED 
(
	[ADMINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_AUTHOR]    Script Date: 2023-05-18 14:58:08 ******/
ALTER TABLE [dbo].[AUTHOR] ADD  CONSTRAINT [PK_AUTHOR] PRIMARY KEY NONCLUSTERED 
(
	[AUTHORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_BOOK]    Script Date: 2023-05-18 14:58:08 ******/
ALTER TABLE [dbo].[BOOK] ADD  CONSTRAINT [PK_BOOK] PRIMARY KEY NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_BOOKCOPY]    Script Date: 2023-05-18 14:58:08 ******/
ALTER TABLE [dbo].[BOOKCOPY] ADD  CONSTRAINT [PK_BOOKCOPY] PRIMARY KEY NONCLUSTERED 
(
	[BOOKCOPYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CATEGORY]    Script Date: 2023-05-18 14:58:08 ******/
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [PK_CATEGORY] PRIMARY KEY NONCLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_USER]    Script Date: 2023-05-18 14:58:08 ******/
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [PK_USER] PRIMARY KEY NONCLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKCOPY]  WITH CHECK ADD  CONSTRAINT [FK_BOOKCOPY_OF_BOOK] FOREIGN KEY([ISBN])
REFERENCES [dbo].[BOOK] ([ISBN])
GO
ALTER TABLE [dbo].[BOOKCOPY] CHECK CONSTRAINT [FK_BOOKCOPY_OF_BOOK]
GO
ALTER TABLE [dbo].[BORROWING]  WITH CHECK ADD  CONSTRAINT [FK_BORROWIN_BORROWING_BOOKCOPY] FOREIGN KEY([BOOKCOPYID])
REFERENCES [dbo].[BOOKCOPY] ([BOOKCOPYID])
GO
ALTER TABLE [dbo].[BORROWING] CHECK CONSTRAINT [FK_BORROWIN_BORROWING_BOOKCOPY]
GO
ALTER TABLE [dbo].[BORROWING]  WITH CHECK ADD  CONSTRAINT [FK_BORROWIN_BORROWING_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[BORROWING] CHECK CONSTRAINT [FK_BORROWIN_BORROWING_USER]
GO
ALTER TABLE [dbo].[IS_OF_KIND]  WITH CHECK ADD  CONSTRAINT [FK_IS_OF_KI_IS_OF_KIN_BOOK] FOREIGN KEY([ISBN])
REFERENCES [dbo].[BOOK] ([ISBN])
GO
ALTER TABLE [dbo].[IS_OF_KIND] CHECK CONSTRAINT [FK_IS_OF_KI_IS_OF_KIN_BOOK]
GO
ALTER TABLE [dbo].[IS_OF_KIND]  WITH CHECK ADD  CONSTRAINT [FK_IS_OF_KI_IS_OF_KIN_CATEGORY] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CATEGORY] ([CATEGORYID])
GO
ALTER TABLE [dbo].[IS_OF_KIND] CHECK CONSTRAINT [FK_IS_OF_KI_IS_OF_KIN_CATEGORY]
GO
ALTER TABLE [dbo].[WRITTEN_BY]  WITH CHECK ADD  CONSTRAINT [FK_WRITTEN__WRITTEN_B_AUTHOR] FOREIGN KEY([AUTHORID])
REFERENCES [dbo].[AUTHOR] ([AUTHORID])
GO
ALTER TABLE [dbo].[WRITTEN_BY] CHECK CONSTRAINT [FK_WRITTEN__WRITTEN_B_AUTHOR]
GO
ALTER TABLE [dbo].[WRITTEN_BY]  WITH CHECK ADD  CONSTRAINT [FK_WRITTEN__WRITTEN_B_BOOK] FOREIGN KEY([ISBN])
REFERENCES [dbo].[BOOK] ([ISBN])
GO
ALTER TABLE [dbo].[WRITTEN_BY] CHECK CONSTRAINT [FK_WRITTEN__WRITTEN_B_BOOK]
GO
